@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body
{
    background-color: hsl(0, 0%, 94%);
    margin: 0;
    padding: 0;

}
.nav-notif
{
    margin-right: 25px;
    margin-top: 5px;

}
.nav-notif-badge
{
    margin-right: 20px;
    margin-top: 5px;

}
.nav-msg , .nav-msg-badge
{
    margin-right: 15px;
    margin-top: 5px;
}

.nav-notif-badge , .nav-msg-badge
{
    font-size: 10px;
}


#side_nav
{
    background-color: #023047;
    min-width: 280px;
    max-width: 280px;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

#side_nav::-webkit-scrollbar-thumb
{
    background: #858383;
    border-radius: 10px;
}

#side_nav::-webkit-scrollbar
{
    /* background: #ddd; */
    width: 5px;
    border-radius: 10px;

} 
.content
{
    min-height: 100vh;
    width: 100%;
}
hr.hr-1
{
    background-color: #fff;

}
hr.hr-2
{
    border-top: 2px solid;
    background-color: #000;
    color: #000;
    margin-top: 8px;
    margin-bottom: 14px;

}
.sidebar li.active
{
    background: #fff;
    border-radius: 8px;
}
.sidebar li.active a , .sidebar li.active a:hover
{
    color: #000;
}

.sidebar-logo
{
    width: 150px;
}

.sidebar li a
{
    color: #fff;
}
.message-notif
{
    font-size: 12px;
}



.icon
{
    size: 100px;
}


/* DASHBOARD TABLE */
.table
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}


/* ADD CAR */
.add-row
{
    gap: 40px;
    display: flex;
}

#addcar-section-forms
{
    box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.25);
    
}

.add-col
{
    width: 50%;
}
.addcar-button-group
{
    width: 100%;
    display: flex;
    column-gap: 10px;
    justify-content: flex-end;
}

.add-car-form
{
    display: none;
    animation: fade 2s linear;
    -webkit-animation: fade 0.5s linear;
}

@keyframes fade {
    0%,50% { opacity: 0 }
    100% { opacity: 1 }
  }
.add-car-form.active
{
    display: block;
}
.add-car-btn
{
    border: 0;
    transform: all 250ms ease-in-out;
    -webkit-transform: all 250ms ease-in-out;
    -moz-transform: all 250ms ease-in-out;
    -ms-transform: all 250ms ease-in-out;
    -o-transform: all 250ms ease-in-out;
}
.add-car-btn:active
{
    transform: scale(.85);
    -webkit-transform: scale(.85);
    -moz-transform: scale(.85);
    -ms-transform: scale(.85);
    -o-transform: scale(.85);
    outline: none;
}

input.purok
{
    width: 50px;
    
}
.first-form a , .first-form label , .first-form input , .first-form select ,
.second-form span , .second-form input , .second-form a , .second-form label ,
.third-form span , .third-form input , .third-form a , .third-form label , 
.fourth-form span , .fourth-form input , .fourth-form a , .fourth-form label , .fourth-form button 
{
    font-size: 13px;
}

.addphoto img
{
    border: #000 1px solid;
    box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.addphoto-btn
{
    width: 350px;
}

.addphoto img
{
    height: 230px;
    width: 350px;
}


/* PROGRESS BAR */

.progress-bar-container
{
    padding: 0 60px
}
.progressbar
{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 40px 0;
    counter-reset: step;
}
.progressbar::before , .progress
{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
}

.progress
{
    background-color: #042a91;
    width: 0%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.progress-step
{
    width: 35px;
    height: 35px;
    background-color: #dcdcdc;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.progress-step::before
{
    counter-increment: step;
    content: counter(step);
}
.progress-step::after
{
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: .80rem;
    color: #666666;
    text-align: center;
    width: 150px;

}

.progress-step.active
{
    background-color: #042a91;
    color: #fff;
}




/* ACCOUNT LINK */
.account-link , .account-dropdowns
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

}


/* NOTIFICATION */
.notif-col-1
{
    width: 70%;

}
.notif-col-2
{
    width: 30%;
    
}



/* DASHBOARD CONTENT */

.dashboard-content h2
{
    font-size: 20px
}

.dashboard-row
{
    gap: 20px;
    display: flex;
}
.db-group
{
    width: 100%;
    display: flex;
    gap: 20px;
}

.dashboard-card-wrapper
{
    width: 100%;
    border-radius: 5px;
    padding: 30px 20px;
}

.dashboard-content .dashboard-card-wrapper .card-count
{
    font-size: 30px;
}

.dashboard-content .dashboard-card-wrapper .card-title
{
    font-size: 14px;
}


.dashboard-card
{
    color: #fff;
    /* padding: 10px 40px; */
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.db-bottom-row
{
    display: flex;
    gap: 20px;
}

.db-bottom-col1
{
    width: 55%;
    
}

.db-bottom-col2
{
    /* height: 300px; */
    height: 45.8vh;
    overflow-y:scroll;
    width: 45%;
    border-radius: 10px;
    /* box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.25); */

}

.for-border
{
    box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.25);
}

.db-bottom-col2 table td p,
.db-bottom-col2 table .no-data
{
    font-size: 12px;
}

.db-bottom-col2 table td .newclients-title
{
    font-size: 13px;
}


.db-bottom-col2 img
{
    width: 30px;
    height: 30px;
}

/* ALLVEHICLES TABLE */

.actions
{
    gap: 20px;
    color: #000;
    font-size: 13px;
    margin-right: 10px;
}
.action-view:hover
{
    color: rgb(25, 25, 190);
}
.action-edit:hover
{
    color: rgb(25, 190, 72);
}
.action-delete:hover
{
    color: rgb(190, 25, 25);
}

.all-vehicles-section table , .all-vehicles-section thead
{
    font-size: 14px;
}

.view-car-row img
{
    height: 230px;
    width: 400px;
}





/* ACCOUNT SETTINGS */
.settings
{
    width: 100%;
}

.settings .settings-col-1 img
{
    width: 120px;
    height: 120px;
}
.settings-title
{
    border-bottom: 1px solid rgb(159, 155, 155);

}

.settings p , .settings label , .settings input
{
    font-size: 14px;
}
.settings-row
{
    display: flex;
    width: 100%;
    gap: 30px;
}
.settings-col-1
{
    flex-basis: 30%;
}
.settings-col-2
{
    flex-basis: 70%;
}


.settings-image , .settings-password , .settings-edit-profile
{
    box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.25);
    width: 100%;

}

.settings input
{
    height: 30px;
}

.settings-image button , .settings-password button , .settings-edit-profile button , .settings span
{
    font-size: 13px;
    height: 30px;

}

.settings img
{
    border: 0.5px solid #000;
}

.edit-profile , .edit-address
{
    gap: 20px;
}
#togglePassword
{
    font-size: 10px;
}


/* RENTED CARS */


/* VIEW CAR */
#viewcar_section1
{
    background-color: #888383;
    gap: 20px;
}
.car-photo
{
    height: 230px;
    width: 400px;
}
#addphoto-img
{
    box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.car-info-row
{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

}
.car-info-col
{
    gap: 100px;
}

#viewcar_section1
{
    gap: 40px;
}
#viewcar_section2
{
    width: 100%;
    display: flex;
    gap: 100px;
}

.car-info-heading , .owner-info-heading , #pricing-info-heading
{
    width: 100%;
}

.owner-section , .pricing-section
{
    flex-basis: 50%;
}
.view-car-buttons
{
    display: flex;
    gap: 20px;
    justify-content: end;
}

.btn-edit , .btn-delete
{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #000;
    text-decoration: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btn-edit
{
    color: rgb(0, 38, 253);
    border: 1px solid rgb(0, 38, 253);
}
.btn-delete
{
    color: rgb(242, 9, 9);
    border: 1px solid rgb(242, 9, 9);
}
.btn-edit:hover
{
    background-color: rgb(0, 38, 253);
    color: #fff;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.btn-delete:hover
{
    background-color: rgb(242, 9, 9);
    color: #fff;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}


.timestamp
{
    font-style: italic;
    font-size: 12px;
}

.no-data {
    color: red; /* Change the color to whatever you like */
    font-weight: bold;
    text-align: center;
  }
  

/* BUTTON DATATABLE */
#btn_datatable_print {
    color: #007bff;
    border: 1px solid #007bff;
    background: none;
  }

#btn_datatable_pdf {
    color: #c14a32;
    border: 1px solid #c14a32;
    background: none;
    }

#btn_datatable_excel {
    color: #27b376;
    border: 1px solid #27b376;
    background: none;
    }
.dataTables_length {
    padding-bottom: 8px;
    }
.dataTables_paginate .paginate_button {
    margin-top: -26px;
    }


    /* MODAL TABLES */
    #viewModal,
    #viewModal thead ,
    #viewModal tbody,
    #editModal label,
    #editModal input,
    #editModal select
    {
        font-size: 14px;
    }

    .modal-title,
    .modal-body .created_at ,
    .modal button,
    .modal-footer button
    {
        font-size: 14px;
    }


/* User Management */
.user-management .user-col-1
{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.user-management .user-management-row
{
    gap: 40px;
}

.user-management form input,
.user-management form label,
.user-management form button ,
.user-management form select
{
    font-size: 13px;
}

.user-management .group
{
    gap: 10px;
}

.title
{
    font-size: 15px;
}


@media(max-width: 767px)
{
    .dataTables_paginate .paginate_button {
        margin-top: 0px;
        }
}


/* TABLES */
#myAlert ,
.table-responsive,
#dbTable,
#dbTable thead ,
#dbTable tbody 
{
    font-size: 13px;
}

/* All DASHBOARD CHART */

.db-chart
{
    box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.25);
}

.db-chart select
{
    outline: none;
    padding: 3px;
}

#booking_Chart {
    overflow-x: scroll;
    max-width: 100%;
  }
  


/* EROOR */
.error-message
{
    font-size: 12px;
    color: #bf1c1c;
    margin-top: 5px;
}

/* MEDIA QUERIES */

  @media (max-width:805px) {


    /* SIDE-BAR */

    .sidebar li a
    {
        font-size: 14px;
    }

    .sidebar-logo
    {
        width: 120px;
    }

    /* DASHBOARD */
    .dashboard-content h2
    {
        font-size: 16px
    }

    .dashboard-content P
    {
        font-size: 12px
    }

    .dashboard-card-wrapper
    {
        padding: 20px 15px;
    }

    .dashboard-content .dashboard-card-wrapper .card-count
    {
        font-size: 25px;
    }
    
    .dashboard-content .dashboard-card-wrapper .card-title
    {
        font-size: 12px;
    }

    .dashboard-content .dashboard-card-wrapper .fas
    {
        font-size: 25px;
    }

    /* ACCOUNT SETTINGS */

    .settings  .settings-col-1 p ,
    .settings  .settings-col-1 button
    {
        font-size: 12px;
    }
}

/* DASHBOARD SIDE NAV */

@media(max-width: 767px)
{
    #side_nav
    {
        margin-left: -280px;
        position: fixed;
        height: 100vh;
        z-index: 1;
    }
    #side_nav.active
    {
        margin-left: 0;
    }
}

@media only screen and (max-width:800px)
{
/* DASHBOARD BOTTOM */
.db-bottom-row
{
	flex-direction: column;

}
.db-bottom-col1 , .db-bottom-col2
{
    width: 100%;
}
.db-bottom-col2
{
    margin-bottom: 20px;
}

}



@media(max-width: 500px)
{
    /* ADD CAR */
    .add-row
    {
        flex-direction: column;
        gap: 0px;
        
    }
    .add-col
    {
        width: 100%;
    }

    .first-form a , .first-form label , .first-form input , .first-form select ,
    .second-form span , .second-form input , .second-form a , .second-form label ,
    .third-form span , .third-form input , .third-form a , .third-form label , 
    .fourth-form span , .fourth-form input , .fourth-form a , .fourth-form label , .fourth-form button 
    {
        font-size: 11px;
    }

    .add_title
    {
        font-size: 15px;
    }

    /* VIEW CAR */
    #viewcar_section1 h5 ,
    #viewcar_section2 h5 
    {
        font-size: 16px;
    }

    #viewcar_section1 h6 ,
    #viewcar_section2 h6
    {
        font-size: 13px;
    }

    #viewcar_section2 .btn-edit ,
    #viewcar_section2 .btn-delete 
    {
        font-size: 12px;
    }

    #viewcar_section2 .timestamp
    {
        font-size: 11px;
    }

        .car-photo img
    {
        height: 210px;
        width: 400px;
    }
}

@media(max-width: 1010px)
{
    .add-full-name
    {
        flex-direction: column;
    }
}

@media(max-width: 1150px)
{
    .add-full-address
    {
        flex-direction: column; 
    }

    /* TABLES */
    #myAlert ,
    .table-responsive,
    #dbTable,
    #dbTable thead ,
    #dbTable tbody
    {
        font-size: 12px;
    }

    .table-add
    {
        font-size: 16px;
    }

    /* MODAL TABLES */
    #viewModal,
    #viewModal thead ,
    #viewModal tbody,
    #editModal label,
    #editModal input,
    #editModal select
    {
        font-size: 12px;
    }

    .modal-title,
    .modal-body .created_at ,
    .modal button,
    .modal-footer button
    {
        font-size: 13px;
    }
 
}

@media(max-width: 400px)
{
    .addphoto-btn
    {
        width: 100%;
    }

    .addphoto img
    {
        height: 230px;
        width: 100%;
    }
 
}




/* ACCOUNT SETTINGS */

@media(max-width: 1258px)
{
    .settings-col-1
    {
        flex-basis: 50%;
    }
    .settings-col-2
    {
        flex-basis: 50%;
    }   
}

@media(max-width: 1050px)
{
    .settings-row
    {
        flex-direction: column;
    }
    .settings-col-1
    {
        flex-basis: 100%;
    }
    .settings-col-2
    {
        flex-basis: 100%;
    }   
}

@media (max-width:805px) {


    .settings .settings-col-1 img
    {
        width: 90px;
        height: 90px;
    }
    .settings  .settings-col-1 p ,
    .settings  .settings-col-1 button ,
    .settings .settings-password .input-group input,
    .settings .settings-col-2 p,
    .settings .settings-col-2 label,
    .settings .settings-col-2 input ,
    .settings .settings-col-2 textarea,
    .settings .settings-col-2 button
    {
        font-size: 11px;
    }

    .settings .title
    {
        font-size: 14px;
    }
}

@media(max-width: 635px)
{
    .edit-profile , .edit-address
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}


/* PROGRESS BAR */

@media(max-width: 575px)
{
        .progress-step::after
    {

        font-size: .60rem;
        width: 60px;

    }

        .progressbar
    {
        margin: 20px 0 60px 0;
    }
    .progress-bar-container
    {
        padding: 0 40px
    }
}


/* VIEW CAR IN REGISTERED VEHICLES */

@media(max-width: 1190px)
{
    .car-info-col
    {
        flex-direction: column;
        gap: 10px;
    }
    #viewcar_section1 , #viewcar_section2
    {
        flex-direction: column;
        gap: 40px;
    }
}

@media(max-width: 450px)
{
    .view-car-row img
    {
        height: 230px;
        width: 100%;
    }
}





/* DASHBOARD LOGIN */

@media(max-width: 450px)
{
    .dashboard-login-div
    {
        width: 100%;
        padding: 60px 25px;
        box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.75);
        

    }

    .dashboard-logo
    {
        width: 150px;
    }

    .dashboard-login
    {
        padding: 100px 20px;
    }

    .dashboard-login-title
    {
        font-size: 13px;
    }

    .fields input
    {
        font-size: 14px;
    }
    
    .fields i
    {
        font-size: 14px;
        margin: 13px 10px 0px 25px;
    }

    .dashboard-login-button
    {
        font-size: 14px;
    }

    .admin-email , .admin-password , .dashboard-login-button
    {
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}


}


/* DASHBOARD CONTENT */

@media(max-width: 1306px)
{
    .db-group
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}


@media(max-width: 888px)
{
    .dashboard-row
    {
        display: flex;
        flex-direction: column;
    }
}

