/* 
footer
{
    margin-top: 100px;
}
.content 
{
    position: relative;
    height: 250px;
    text-align: center;
    background-color: #1877F2;
    color: #fff;
    align-items: center;
}
#footer-logo
{
    margin-top: 60px;
    width: 180px;
}

.footer-group-1
{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}
.footer-group-1 ul
{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    
}
.footer-group-1 ul li a
{
    text-decoration: none;
    font-family: 'Arial',sans-serif;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 3px;
    color: #fff;
   
}
.footer-group-1 ul li a:hover
{
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
.footer-group-2
{
    width: 100%;
}
.footer-line
{
    height: 1px;
    width: 90%;
    background-color: #fff;
    margin: auto;
   
}
.footer-group-2 p
{
    font-family: 'Arial',sans-serif;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 3px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.waves {
    position: relative;
    width: 100%;
    height: 100px;
    margin-bottom: -7px;
}

.parallax > use {
    -webkit-animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
            animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    -webkit-animation-duration: 13s;
            animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
}

@-webkit-keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

@keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

@media (max-width : 768px) {
    h1 {
        font-size: 24px;
    }
    .content {
        height: 30vh;
    }
    .waves {
        height: 40px;
        min-height: 40px;
    }
} */