
.home
{
    position: relative;
    background-image: url("/images/home.png");
    background-size: cover;
    background-repeat: no-repeat;
  	background-position: center;
    /* margin-top: 70px; */
    margin-top: 73px;
    height: 100vh;
    align-items: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.homepage-row
{
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
}
.homepage-col1 , .homepage-col2
{
    width: 50%;
}
.homepage-col1
{
    padding: 0px 100px;
    align-items: center;
}

.homepage-col1 h2
{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
 
}
.homepage-button
{
    gap: 20px;
}
.homepage-button input
{
    width: 90px;
}

@media (max-width:1000px) {

    .home
    {
        margin-top: 70px;
    }
}


@media (max-width:805px) {

    .home
    {
        margin-top: 66px;
    }

    .homepage-col1
    {
        padding: 0px 20px;
    }
}


@media (max-width:1029px) {

    .homepage-col1
    {
        width: 100%;
    }


    .home
    {
        background:	#EEEFF1;  
    }


}

@media (max-width: 500px) {


    .homepage-col1 h2
    {
        font-size: 15px;
    }

    .homepage-col1 p ,
    .homepage-col1 .homepage-button .btn
    {
        font-size: 11px;
    
    }

    .home
    {
        margin-top: 0px;
    }
}
