/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap'); */
#howitworks
{
    background: linear-gradient(45deg, #ffaf00, #bb02ff);
    /* min-height: 50vh; */
    /* height: 100%; */
    align-items: center;
    justify-content: center;
    /* padding-left: 100px;
    padding-right: 100px; */
    padding: 100px 100px;
    font-family: 'Poppins', sans-serif;
    /* min-height: 100vh; */
    width: 100%;
    

}
.how-title
{
    color: #fff;
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
}
.how-title h2
{
    font-size: 40px;
    padding-bottom: 1px;
}
.how-title p
{
    font-size: 20px;
}


.how-container
{
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  
}
.how-container .how-card
{
  position: relative;
  width: 300px;
  height: 420px;
  background: #fff;
  /* margin: 20px; */
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
  transition: 0.5s;
}

.card-logo
{
    padding-top: 30px;
}
.how-container:hover .how-card
{
 
  transform: scale(0.9);
  opacity: 0.5;
}
.how-container .how-card:hover
{
  transform: scale(1.1);
  opacity: 1;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.how-container .how-card .circle
{
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(180px at center 0);
  text-align: center;
}

.how-container .how-card .content
{
  position: absolute;
  bottom: 10px;
  padding: 20px;
  text-align: center;

}
.how-container .how-card .content p
{
  color: #666;
  
}
.how-container .how-card .content a
{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  margin-top: 20px;
}
.how-container .how-card:nth-child(1) .circle,
.how-container .how-card:nth-child(1) .content a
{
  background: #ffaf00;
}
.how-container .how-card:nth-child(2) .circle,
.how-container .how-card:nth-child(2) .content a
{
  background: #da2268;
}
.how-container .how-card:nth-child(3) .circle,
.how-container .how-card:nth-child(3) .content a
{
  background: #bb02ff;
}


@media (max-width: 500px) {
  .how-title h2,
  .how-card h4
  {
      font-size: 12px;
  }

  .how-card p,
  .how-card a
  {
      font-size: 11px;
  }

  .how-card .fas
  {
      font-size: 30px;
  }

  .how-container .how-card
  {
    width: 200px;
    height: 320px;
  }

  .how-container .how-card .circle
  {
    clip-path: circle(120px at center 0);
  }
  #howitworks
  {
      padding: 20px 20px;
  }
}

    
@media(max-width: 600px)
{
    #howitworks
    {
        padding: 100px 0px;
        
    }
    .how-card
    {
      -webkit-tranform: none !important;
      transform: none !important;
      -webkit-transform: none !important;
      -moz-transform: none !important;
      -ms-transform: none !important;
      -o-transform: none !important;
    }
}

@media(max-width: 980px)
{
    .how-container
    {
        display: grid;
    }

    #howitworks
  {
      background: linear-gradient(180deg, #ffaf00, #bb02ff);
  }
}



  
  

/* @media(max-width: 900px)
{
    #howitworks
    {
        padding: 0 0;
        width: 100%;
        justify-content: center;
    }
    .how-card
    {
        justify-content: center;
    }
    .how-card:nth-child(1) , .how-card:nth-child(2)
    {
        margin-bottom: 40px;
    }
}

@media(max-width: 880px)
{
    #howitworks
    {
        padding-top: 100px;
        padding-bottom: 100px;
    }
} */