@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body
{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
#login
{
   margin-top: 150px;
   margin-bottom: 150px;
   

}
#logo
{
    width: 150px;
}
.loginlogo
{
    text-align: center;
}
.loginfail-alert
{
    background-color: #F8D7DA;
    color: #721C24;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 12px;
}
.successregister-alert , .successdelete-alert
{
    background-color: #CFE2FF;
    color: #0F5132;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 12px;
}
.h3
{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    text-align: center;


}
.row
{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
}
.col-1
{
    background-color: #1877F2;
    width: 390px;
    padding: 100px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 5px 11px 15px -3px rgba(0, 0, 0, 0.25);
}
.col-2
{
    background-color: #F5FAFF;
    padding: 30px 40px;
    width: 390px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    align-items: center;
    box-shadow: 5px 11px 15px -3px rgba(0, 0, 0, 0.25);
    
    
}

.username input , .password input , .button_login
{
    height: 35px;
    width: 100%;
    border-radius: 10px;
    padding: 0 15px;
    border: 0.5px solid #BCBCBC;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.button_login
{
    cursor: pointer;
}
.username input , .password input 
{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000;
}
.username , .password
{
    margin-bottom: 13px;
}
.button_login
{
    position: relative;
    background-color: #1877F2;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
    display: grid;
    place-content: center;

}
.button_login-text
{
    color: #ffffff;
    transition: all 0.2s;
}
.login-loader .button_login-text
{
    visibility: hidden;
    opacity: 0;
}
.login-loader::after
{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: loader 0.5s ease infinite;
    -webkit-animation: loader 0.5s ease infinite;
}


@keyframes loader {
    0%{
        transform: rotate(0turn);
        -webkit-transform: rotate(0turn);
        -moz-transform: rotate(0turn);
        -ms-transform: rotate(0turn);
        -o-transform: rotate(0turn);
    }
    100%{
        transform: rotate(1turn);
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
} 


}

.remember-forgot
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.remember-forgot .div-1,
.remember-forgot .div-2
{
    display: flex;
    align-items: center;
}



.remember-forgot a,
.remember-forgot label
{
    font-size: 13px;
    color: #000;
    font-weight: 400;
}

.remember-forgot .checkbox
{
    display: flex;
    align-items: center;
    gap: 5px;
}

.group-1
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.line , .line2
{
    height: 1.3px;
    width: 100%;
    background-color: #BCBCBC;
}
.group-1 p
{
    padding: 0 10px;
    font-weight: 700;
    font-size: 15px;
    color: #BCBCBC;
}
.group-2
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.line-3
{
    height: 40px;
    width: 1px;
    background-color: #000;
}
.social-media-login , .link
{
    
    width: 130px;
    text-align: center;

    
}
.social-media-login a
{
    text-decoration: none;

}

.social-media-login p
{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 10px;
    margin-bottom: 10px;
}
.link p
{
    text-align: left;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}
.link a
{
    color: #000;
}


  /* LOGIN MEDIAQUERY */


  @media(max-width: 430px)
{
   .col-2
   {
    width: 100%;
    padding: 30px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;     
    }

   #login
    {
    padding: 0 20px;

    }

    .username input , .password input , .button_login .h3


    {
        font-size: 13px;
    }

    .loginfail-alert , .successregister-alert,
    .remember-forgot a,
    .remember-forgot label
    {
        font-size: 11px;
    }

}

@media only screen and (max-width:800px)

/* LOGIN */
{
    .col-1
    {
        display: none;
    }

    .col-2
    {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.75);
    }

}


/* LOGIN _ SIGNIN HEADER MEDIA QUERY */

@media(max-width: 660px)
{
   #header-for-logsign nav
   {    
    padding: 20px 20px;
   }

}

@media(max-width: 500px)
{
    .username input , .password input , .button_login
   {
     font-size: 11px;
   }

   #login h3
   {
    font-size: 13px;
   }
    #login #logo
    {
        width: 120px;
    }

    #login .group-1 p ,
    #login .group-2 p ,
    .social-media-login p

    {
        font-size: 11px;
    }

    .group-2 svg
    {
        width: 25px;
        height: 25px;
    }
}

