@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


footer
{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background: linear-gradient( to right, #00093c, #2d0b00);
    color: #fff;
    padding: 0 100px;
    padding-top: 100px;
    padding-bottom: 20px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;

}
.footer-logo
{
    width: 150px;
    margin-bottom: 30px;

}
.footer-row

{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-col
{
    flex-basis: 25%;
    /* width: 25%; */
    /* padding: 10px; */
}
.footer-col:nth-child(2) , .footer-col:nth-child(3)
{
    flex-basis: 15%;
}

.footer-col h3
{
    font-size: 13px;
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id
{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
    
}
.footer-col li
{
    list-style: none;
    margin-bottom: 12px;
    
}
.footer-col li a
{
    text-decoration: none;
    color: #fff;
}
.footer-col-form
{
    padding-bottom: 15px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.footer-col-form .fas,
.footer-col-form .fab
{
    font-size: 18px;
    margin-right: 10px;
}
.footer-col-form input
{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: 0;
}
.footer-col-form button
{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    color: #ccc;
}
.social-icons .fab,
.social-icons .fas
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #000;
    background: #fff;
    text-align: center;
    line-height: 40px;
    margin-right: 15px;
    cursor: pointer;
}
.footer-hr
{
    border: 0;
    margin: 20px auto;
}

.copyright
{
    text-align: center;
}
.under-line
{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.under-line span
{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving
{
    0%
    {
        left: -20px;
    }
    100%
    {
        left: 100%;
    }
}
 
@media (max-width: 700px)
{
    .footer-col
    {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .footer-col:nth-child(2) , .footer-col:nth-child(3)
    {
        flex-basis: 100%;
    }
    footer
    {
        padding: 100px 60px;
    }
}

@media (max-width: 700px)
{
    footer
    {
        padding-left: 20px;
        padding-right: 20px;
        border-top-left-radius: 50px;
        font-size: 11px;
    }

    .footer-logo
    {
        width: 100px;
        
    }

    .footer-row h3
    {
        font-size: 11px;
    }
}