/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&family=Staatliches&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
 */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1&display=swap');

/* BOOKING FORMS */

/* Remove focus style on all Bootstrap inputs */
/* .form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
    outline: #F8FAFC;
  } */

  
.booking-form-section
{
    margin-top: 144px;
    height: 100%;
    width: 100%;
    padding: 40px 80px;
    font-family: 'Poppins', sans-serif;
}

.booking-form-buttons
{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.booking-form-buttons .btn-daily , .booking-form-buttons .btn-weekly , .booking-form-buttons .btn-monthly
{
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: flex;
            align-items: center;
    gap: 10px;
    padding: 15px 10px;
    font-size: 13px;
    text-decoration: none;
    /* border-radius: 10px; */
    color: #000;
    border: 1px solid #000;
    outline: none;
    background-color: rgb(246, 244, 244);
}

.invalid-feedback
{
    font-size: 12px;
    color: rgb(243, 65, 65);
}

.error,
.error-message
{
    font-size: 11px;
    color: rgb(243, 65, 65);
}

.booking-form-section .renter-info input
{
    outline: none;
}

.booking-form-section .renter-info label ,
.booking-form-section .renter-info input ,
.booking-form-section .sect-1 .requirements .form-check ,
.booking-form-section .sect-1 .license input ,
.booking-form-section .sect-1 .license label ,
.booking-form-section .sect-1 .requirements h6 ,
.mode_del .mode-of-delivery .form-check ,
.pay_med .mode-of-payment ,
.pay_med .accepts h5,
.pay_med .important ,
.msg label ,
.msg textarea ,
.sect-2 .date-time-wrapper label,
.sect-2 .date-time-wrapper input,
.price-info p,
.price-info h5 ,
.agreement label ,
.agreement input ,
.bookingform-sumbit ,
.sect-2 .car_name,
.sect-2 .car_price,
.total_weeks_months

{ 
    font-size: 14px;
}

.booking-form-section .sect-1 h4 ,
.booking-form-section .requirements h5 ,
.mode_del h5 ,
.pay_med h5
{
    font-size: 17px;
}


.booking-form
{
    display: none;
}

.booking-form.active
{
    display: block;
}

/* PROGRESS BAR */

.progress-bar-container
{
    padding: 0 60px
}
.progressbar
{
    position: relative;
    display: flex;
            justify-content: space-between;
    margin: 20px 0 50px 0;
    counter-reset: step;
}
.progressbar::before , .progress
{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
}

.progress
{
    background-color: #198754;
    width: 0%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.progress-step
{
    width: 35px;
    height: 35px;
    background-color: #dcdcdc;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
            justify-content: center;
            align-items: center;
    z-index: 0;
}
.progress-step::before
{
    counter-increment: step;
    content: counter(step);
}
.progress-step::after
{
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: .80rem;
    color: #666666;
    text-align: center;
    width: 150px;

}

.progress-step.active
{
    background-color: #198754;
    color: #fff;
}


.booking-form-section .div2 , .booking-form-section .div3
{
    display: none;
}


.booking-form-buttons a.active
{
    background-color: #198754;
    font-weight: 600;
    color: #fff;
    border: none;
    outline: none;
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
}


.booking-info-section
{
    display: flex;
    gap: 40px;
}

.booking-info-section .sect-1
{
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
}

.car-rent-info-wrapper img
{
    height: 40px;
    width: 60px;
    -webkit-box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.25);
            box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.sect-1 .renter-info 
{
    gap: 20px; 
    margin-bottom: 10px;
}

.sect-1 .renter-info input , .sect-1 textarea
{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid rgb(187, 182, 182);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.sect-1 .license-wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    gap: 10px;
}

.sect-1 .license
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}

.sect-1 .license input
{
    border: 1px solid #a0a0a0;
    border-radius: 5px;
}

.sect-1 .pic-limit
{
    font-size: 11px; 
    margin-left: 5px;
}

.renter-info input
{
    padding: 8px 10px;

}

.booking-info-section .sect-1 hr
{
    color: #000;
}

.sect-1 .mode-of-payment ,
.sect-1 .mode-of-delivery 
{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
}

.pay_med .accepts img
{
    width: 250px;
}

.booking-info-section .sect-2
{
    height: 100%;
    border: 1px solid rgb(147, 145, 145);
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-box-shadow: 0 15px 25px rgba(0,0,0,0.2);
            box-shadow: 0 15px 25px rgba(0,0,0,0.2);

}

.sect-2 .car-rent-info-wrapper
{
    background: #F8FAFC;
    padding: 40px 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom:  1px solid rgb(147, 145, 145);
}

.sect-2 .date-time-wrapper
{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.date-time-wrapper input
{
    padding: 10px;
    font-size: 15px;
}

::-webkit-calendar-picker-indicator
{
    color: #fff;
    padding: 5px;
    background-color: rgb(139, 178, 246);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.date-time-wrapper label
{
    font-size: 15px;
}

.start-date div , .return-date div
{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* gap: 10px; */
}
.start-date , .return-date
{
    gap: 10px;

}


.sect-2 .price-info
{
    padding: 40px 40px;
}


.price-info .alert
{
    font-size: 13px;
    padding: 10px 10px;
    margin-bottom: 30px;
}

.agreement
{
    margin-bottom: 15px;
    font-size: 14px;
}

.total_weeks_months
{
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.total_weeks_months select
{
    outline: none;
}

.bookingform-sumbit
{
    width: 100%;
    padding: 10px  5px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: -ms-grid;
    display: grid;
    place-content: center;
    background-color: #198754;
}


  .loader
{
     pointer-events: none;
     width: 30px;
     height: 30px;
     border: 3px solid transparent;
     border-top-color: #fff;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     animation: loader 0.5s ease infinite;
     -webkit-animation: loader 0.5s ease infinite;
}

@-webkit-keyframes loader {
    0%{
        transform: rotate(0turn);
        -webkit-transform: rotate(0turn);
        -moz-transform: rotate(0turn);
        -ms-transform: rotate(0turn);
        -o-transform: rotate(0turn);
    }
    100%{
        transform: rotate(1turn);
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
} 
}

@keyframes loader {
    0%{
        transform: rotate(0turn);
        -webkit-transform: rotate(0turn);
        -moz-transform: rotate(0turn);
        -ms-transform: rotate(0turn);
        -o-transform: rotate(0turn);
    }
    100%{
        transform: rotate(1turn);
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
} 
}


@media (max-width: 1342px)
{
    .booking-info-section
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .date-time-wrapper input
    {
        width: 100%;
    }
    .start-date , .return-date
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 870px)
{
    .sect-1 .license-wrapper
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

@media (max-width:805px) {

    .booking-form-section
    {
        padding: 20px;
    }
}

@media (max-width: 580px)
{

    .booking-form-buttons .btn-daily , .booking-form-buttons .btn-weekly , .booking-form-buttons .btn-monthly
    {
        font-size: 12px;
    }
}

@media (max-width: 515px)
{
    .booking-form-section
    {
        padding: 20px 20px 40px 20px;
        margin-top: 144px;
    }
    .renter-info
    {
                flex-direction: column;
    }

    .sect-2 .car-rent-info-wrapper ,
    .sect-2 .price-info
    {
        padding: 40px 20px;
    }
}


@media (max-width: 500px)
{
    .booking-form-buttons .btn-daily , .booking-form-buttons .btn-weekly , .booking-form-buttons .btn-monthly
    {
        padding: 15px 10px;
        font-size: 11px;

    }

    .error,
    .invalid-feedback,
    .error-message
    {
        font-size: 10px;
        color: rgb(243, 65, 65);
    }

    .booking-form-section .renter-info label ,
    .booking-form-section .renter-info input ,
    .booking-form-section .sect-1 .requirements .form-check ,
    .booking-form-section .sect-1 .license input ,
    .booking-form-section .sect-1 .license label ,
    .booking-form-section .sect-1 .requirements h6 ,
    .mode_del .mode-of-delivery .form-check ,
    .pay_med .mode-of-payment ,
    .pay_med .accepts h5,
    .pay_med .important ,
    .msg label ,
    .msg textarea ,
    .sect-2 .date-time-wrapper label,
    .sect-2 .date-time-wrapper input,
    .price-info .alert,
    .price-info p,
    .price-info h5 ,
    .agreement label ,
    .agreement input ,
    .bookingform-sumbit ,
    .sect-2 .car_name,
    .sect-2 .car_price,
    .total_weeks_months

    { 
        font-size: 12px;
    }

    .booking-form-section .sect-1 h4 ,
    .booking-form-section .requirements h5 ,
    .mode_del h5 ,
    .pay_med h5
    {
        font-size: 15px;
    }

    .booking-form-section .sect-1 .renter-info 
    {
        gap: 5px; 
        margin-bottom: 5px;
    }

    .booking-form-section .renter-info input
    {
        padding: 10px 10px;
    }

    .sect-1 .pic-limit
    {
        font-size: 9px; 
        margin-left: 2px;
    }

    .start-date div, .return-date div
    {
        gap: 5px;
    }

    .date-time-wrapper input
    {
        padding: 5px;
    }
    .pay_med .accepts img
    {
        width: 180px;
    }

}