.navbar
{
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    background:	#023047;  
    padding: 20px 80px;
    z-index: 1;
    font-weight: 200;
    /* border-bottom: 0.3px solid #8a8a8a; */
    box-shadow: 1px -1px 83px -29px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -1px 83px -29px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 83px -29px rgba(0,0,0,0.75);
}

.header-col
{
    gap: 30px;
    display: flex;
}

.header-col li
{
    position: relative;
    list-style: none;
}
.header-col li a
{
    position: relative;
    text-decoration: none;
    color:#fff;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    transition: 0.6s;
    font-size: 13px;
}
.header-col li a:hover
{
    color: 	#007F66;
    transition: 0.5s;
}

@media (max-width:805px) {
    .navbar
    {
        top: 65px;
        padding: 20px;
    }

    .header-col li a
    {
        font-size: 12px;
    }

    .header-col
    {
        gap: 10px;
        display: flex;
    }
}

@media (max-width:500px) {

    .header-col li a
    {
        font-size: 10px;
    }

    .header-col
    {
        gap: 15px;
        justify-content: space-between;
        display: flex;
    }
}