.main-user-account-section
{
    margin-top: 145px;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

/* MAIN USER ACCOUNT 1 */

.user-account-section
{
    background-color: rgb(241, 240, 240);
    padding: 40px 80px;
    height: 100%;
    width: 100%;
    background: url("/images/profile/account_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  	background-position: center;
    /* opacity: 0.5; */
}

.user-account-wrapper
{
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.user-account-wrapper .line
{
    height: 200px;
    width: 3px;
    background-color: #000;
    align-items: center;
}

.user-account-wrapper .info
{
    display: flex;
    gap: 100px;
}

.info .timestamp
{
    font-size: 13px;
    font-style: italic;
}

.account-settings-buttons
{
    display: flex;
    justify-content: end;
    gap: 20px;
}

.account-settings-buttons .btn-edit
{
    color: rgb(0, 38, 253);
    border: 1px solid rgb(0, 38, 253);
}

.account-settings-buttons .btn-edit-pass
{
    color: #D7A717;
    border: 1px solid #D7A717;

}

.account-settings-buttons .btn-edit , .account-settings-buttons .btn-edit-pass
{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 13px;
    text-decoration: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.account-settings-buttons .btn-edit:hover
{
    background-color: rgb(0, 38, 253);
    color: #fff;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.account-settings-buttons .btn-edit-pass:hover
{
    background-color: #D7A717;
    color: #fff;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.user-account-section img
{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media only screen and (max-width:1016px)

{

    .user-account-wrapper .info
    {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

}
@media (max-width:805px) 
{
    .main-user-account-section
    {
        margin-top: 130px;
    }
}

@media (max-width:780px) 
{
    .user-account-wrapper
    {
        flex-direction: column;
    }

    .user-account-wrapper
    {
       align-items: flex-start;
    }

    .user-account-wrapper img
    {
        margin: auto;
    }

    .user-account-wrapper .line
    {
        height: 3px;
        width: 100%;
    }

    .account-settings-buttons
    {
        justify-content: start;
    }
    .user-account-section
    {
        padding: 40px 20px;
    }
    .user-account-section img
    {
        width: 130px;
        height: 130px;
        object-fit: cover;
    }
}


/* MAIN USER ACCOUNT 2 */

.user-account-section2
{
    padding: 40px 80px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* MY RENTALS */

.myrental-wrapper
{
    background-color: #ffffff;
    color: #000000;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.rental-badge {
    position: relative;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 4px;
    min-width: 20px;
    text-align: center;
    top: -10px;
    margin-left: 5px;
    height: 20px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

  
  
.rental-card
{
    padding: 15px 20px;
    border: 1px solid #000;
}

.rental-top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.rental-top button
{
    background-color: rgb(0, 143, 253);
    color: #fff;
    outline: none;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
}
.rental-top span
{
    font-size: 14px;
}

.rental-mid
{
    display: flex;
    align-items: center;
    gap: 40px;
}

.rental-mid .group
{
    display: flex;
    gap: 40px;
}

.rental-mid img
{
    width: 120px;
}

.rental-mid p
{
    font-size: 14px;
}

.rental-bottom
{
    display: flex;
    align-items: center;
    justify-content: end;
}

.rental-bottom span
{
    font-size: 14px;
}

/* MODAL TABLES */
#modalTable,
#modalTable thead ,
#modalTable tbody
{
    font-size: 14px;
}

.modal-title,
.modal-body .created_at ,
.modal button ,
.modal-content 
{
    font-size: 14px;
}


/* DELETE ACCOUNT */
.delete-account-wrapper
{
    background-color: #F8D7DA;
    color: #842029;
    padding: 25px 30px;
    border-radius: 5px;
    /* gap: 5px; */
    display: flex;
    flex-direction: column;

}


.delete-account-wrapper .btn-delete
{
    display: flex;
    background-color: #842029;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    gap: 100px;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    text-decoration: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.delete-button
{
    display: flex;
    justify-content: end;
}

@media (max-width:936px) 
{
    .rental-mid 
    {
        flex-direction: column;
    }
    
}

@media (max-width:794px) 
{
    .rental-mid .group
    {
        flex-direction: column;
        gap: 10px;
    }
    
}

@media (max-width:780px) 
{
    .user-account-section2
    {
        padding: 40px 20px;
    }
    
}


@media (max-width:500px) 
{
    .user-account-section p ,
    .user-account-section .timestamp ,
    .account-settings-buttons .btn-edit , 
    .account-settings-buttons .btn-edit-pass ,
    .delete-account-wrapper p, 
    .delete-account-wrapper span,
    .user-account-section2 .myrental-wrapper h6

    {
        font-size: 11px;
    }

    .user-account-wrapper .line
    {
        width: 100%;
        height: 1px;
    }

    .user-account-section img
    {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .user-account-wrapper
    {
        gap: 30px;
    }

    .delete-account-wrapper h5,
    .user-account-section2 .myrental-wrapper h5
    {
        font-size: 15px;
    }

    .user-account-section2 .myrental-wrapper .rental-badge

    {
        font-size: 10px;
    }

    .rental-top span ,
    .rental-bottom span
    {
        font-size: 12px;
    }

    .rental-mid img
    {
        width: 120px;
    }

    .rental-mid .group p
    {
        font-size: 11px;
    }

    
}

@media (max-width:400px) 
{
    .myrental-wrapper ,
    .delete-account-wrapper
    {
        padding: 20px 15px;
    }
    
}

@media (max-width:600px) 
{
    /* MODAL TABLES */
    #modalTable,
    #modalTable thead ,
    #modalTable tbody
    {
        font-size: 11px;
    }

    .modal-title,
    .modal-body .created_at ,
    .modal button ,
    .modal-content ,
    .modal-body form input ,
    .modal-body form select
    {
        font-size: 11px;
    }
    .account-settings-buttons
    {
        flex-direction: column;
        gap: 5px;
    }
}


