.all-cars-section
{
    margin-top: 140px;
    background-color: #fff;
    height: 100%;
    padding: 50px 80px;
    font-family: 'Poppins', sans-serif;
}
.all-cars-section .category-title 
{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.all-cars-row
{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.car-wrapper
{
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    font-family: 'Poppins', sans-serif;

}

.car-col-2 .transmission
{
   background-color: rgb(190, 24, 24);
   color: white;
   padding: 2px 6px;
   font-size: 10px;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}

.car-col-2 .dailyrate
{
    font-size: 18px;
}
.car-col-2 .brand
{
    font-size: 19px;
}

.car-col-2 h6
{
    font-size: 15px;
}
.car-col-1
{
    width: 350px;
    height: 230px;
}

.car-col-1 img
{
    height: 230px;
    width: 350px;
}
.car-col-2
{
    width: 350px;
    padding: 20px;
    color: #000;
    background-color: #f1f1f1;
}

.car-col-1
{
    
    border-bottom: 1px solid rgb(84, 83, 83);
    
}


.car-col-2 p
{
    font-size: 12px;
}

.btn-addcart , .btn-checkout
{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    
}
.btn-addcart
{
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    background-color: #fff;
    text-decoration: none;
    color: #000;


}
.btn-addcart:hover
{
    background-color: rgb(37, 37, 37);
    color: white;
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
}
.btn-checkout
{
    border: none;
    outline: none;
    background-color: #069d60;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.carbuttons
{
    display: flex;
    width: 100%;
    gap: 20px;
    /* justify-content: end; */
}

/* HOVER */
 /* .car-wrapper:hover .car-col-2
{
    background-color: #000;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: #fff;
} */

.no-cars-available
{
    font-size: 14px;
}

@media (max-width:800px) {
    .all-cars-row
    {
        justify-content: center;
    }
}

@media (max-width:800px) {
    .all-cars-row
    {
        justify-content: center;
    }
}

@media (max-width: 805px) {

    .all-cars-section
    {
        padding: 50px 20px;
    }
}

@media (max-width: 500px) {

    .car-col-1
    {
        width: 100%;
        height: 230px;
    }

    .car-col-1 img
    {
        height: 230px;
        width: 100%;
    }
    .car-col-2
    {
        width: 100%;
        padding: 20px;
        color: #000;
        background-color: #f1f1f1;
    }

    .car-col-2 h6
    {
        font-size: 13px;
    }
}

@media (max-width: 450px) {

    .car-col-2 .brand
    {
       font-size: 16px;
    }

    .car-col-2 .location,
    .no-cars-available
    {
       font-size: 10px;
    }

    .car-col-2 .prices span h6,
    .all-cars-section .category-title
    {
       font-size: 12px;
    }

    .car-col-2 .dailyrate
    {
        font-size: 15px;
    }

    .carbuttons a
    {
        font-size: 11px;

    }

    .car-col-2 .transmission
    {
        font-size: 8px;
        padding: 2px 4px;
    }

}