@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


header
{
	width: 100%;
}
.logo
{
    width: 130px;
    
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    background:	#EEEFF1;  
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1;
    /* gap: 100px; */
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    font-weight: 500;
}
.header-col-1 , .header-col-2
{
    gap: 40px;
    /* width: 500px; */
}
.header-col-middle
{
    gap: 30px;
}
nav div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav div li {
    position: relative;
    list-style: none;
}

nav div li a{
    position: relative;
    text-decoration: none;
    color:#000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: 0.6s;
    font-size: 13px;
}
nav div li a:hover
{
	color: 	#007F66;
    transition: 0.5s;

}

nav.sticky{
    padding: 20px 110px;
    background: #fff;
	box-shadow: 1px -1px 83px -29px rgba(0,0,0,0.75);
	-webkit-box-shadow: 1px -1px 83px -29px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px -1px 83px -29px rgba(0,0,0,0.75);

}
nav li a::after
{
    content: "";
    width: 0;
    height: 3px;
    background: #007F66;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.5s;

}
nav li a:hover:after
{
    width: 100%;
    justify-content: center;
}



nav .far
{
    display: none;
}

.header-col-middle .view-rental-btn
{
    font-size: 13px;
    text-decoration: none;
    border-radius: 10px;
}



/* SIDE BAR */
#home-side-bar-btn 
{
    display: none;
    text-decoration: none;
    color: #000000;
}

.home-sidebar-div
{
    display: none;
}



.home-sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #023047;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Poppins', sans-serif;
    
  }
  
  .home-sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 13px;
    color: #d3d0d0;
    display: block;
    transition: 0.3s;
  }

  .home-sidebar .links

{
    padding: 8px 25px 8px 32px;
    gap: 20px;
}

  .home-sidebar .btn {
    padding: 8px 0px 8px 0px;
  }
  
  .home-sidebar a:hover {
    color: #f1f1f1;
  }
  
  .close-btn {
    position: absolute;
    top: 11px;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
    cursor: pointer;
    color: #d3d0d0;
  }
  
  .close-btn:hover {
    color: #f1f1f1;
  }
  
  .main-content {
    transition: margin-left 0.5s;
    padding: 20px;
  }
  
  /* Change the width of the sidebar to 250px and the left margin of the page content to 250px */
  .home-sidebar.active {
    width: 250px;
    
  }
  
  .main-content.active {
    margin-left: 250px;
  }

  .home-sidebar hr
  {
    color: #fff;
    background: #fff;
    margin: 15px 25px 15px 32px;
  }

  .home-sidebar .user-profile 
  {
    padding: 8px 8px 8px 32px;
  }

  .home-sidebar .user-info
  {
      font-size: 13px;
      font-weight: 500;
      color: #fff;
  }

  .links .btn-primary
  {
    background: #0D6EFD;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    margin-bottom: 15px;
  }

  .links .btn-success
  {
    background: #198754;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
  }
  



@media (max-width:1000px) {

    .header-col-middle , .header-col-2
    {
        display: none;
    }
    nav .far
    {
        display: flex;
        cursor: pointer;
        
    }
    
    nav
    {
        padding: 20px 20px;
        justify-content: space-between;
    }
    nav.sticky{
        padding: 20px 20px;
        background: #fff;
        box-shadow: 1px -1px 83px -29px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px -1px 83px -29px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px -1px 83px -29px rgba(0,0,0,0.75);
    
    }

    #home-side-bar-btn ,
    .home-sidebar-div
    {
        display: block;
    }

    .header-col-1 .logo
    {
        width: 120px;
        
    }

    #home-side-bar-btn
    {
        display: block;
    }


}


@media (max-width:805px) {
    nav
    {
        padding: 20px 20px;
        justify-content: space-between;
    }
    
    #mainside-bar
    {
        display: block;
        cursor: pointer;
        
    }


   .header-col-1 .logo
    {
        width: 100px;
        
    }
}