@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body
{
    background-color: hsl(0, 0%, 94%);
}
#side_nav
{
    background-color: #000;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}
.content
{
    min-height: 100vh;
    width: 100%;
}
hr.hr-1
{
    background-color: #fff;

}
hr.hr-2
{
    border-top: 2px solid;
    background-color: #000;
    color: #000;

}
.sidebar li.active
{
    background: #fff;
    border-radius: 8px;
}
.sidebar li.active a , .sidebar li.actice a:hover
{
    color: #000;
}
.sidebar li a
{
    color: #fff;
}
.message-notif
{
    font-size: 12px;
}
@media(max-width: 767px)
{
    #side_nav
    {
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active
    {
        margin-left: 0;
    }
}

.row-card
{
    width: 15rem;
    display: flex;
    border-radius: 10px;
}
.col-1
{
    width: 65%;
    margin: auto;
}
.col-2
{
   margin: auto;
   width: 35%;
}
.icon
{
    size: 100px;
}

/* Dashboard Table */
.table
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}


/* ADD Car */
.add-row
{
    gap: 40px;
}

.add-col
{
    width: 50%;
}
input.purok
{
    width: 50px;
    
}


/* ACCOUNT LINK */
.account-link , .account-dropdowns
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

}


/* NOTIFICATION */
.notif-col-1
{
    width: 70%;

}
.notif-col-2
{
    width: 30%;
    
}
/* DASHBOARD LOGIN */
.dashboard-login-div
{
    font-family: 'Poppins', sans-serif;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
.dashboard-login
{
    height: 100vh;
    background: linear-gradient(to right,#ff512f, #dd2476);
}
.dashboard-login-button
{
    background: linear-gradient(to right, #dd2476,#ff512f);
    border: none;

}
.dashboard-login h2
{
    /* box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.25); */
    font-weight: 600;
    font-size: 25px;

    
}