@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    font-family: 'Poppins', sans-serif;
}
body
{
    background-color: hsl(0, 0%, 94%);
    margin: 0;
    padding: 0;

}
.nav-notif , .nav-notif-badge
{
    margin-right: 25px;
    margin-top: 5px;

}
.nav-msg , .nav-msg-badge
{
    margin-right: 15px;
    margin-top: 5px;
}

.nav-notif-badge , .nav-msg-badge
{
    font-size: 10px;
}


#side_nav
{
    background-color: #000;
    min-width: 250px;
    max-width: 250px;
    /* transition: all 0.3s; */
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.content
{
    min-height: 100vh;
    width: 100%;
}
hr.hr-1
{
    background-color: #fff;

}
hr.hr-2
{
    border-top: 2px solid;
    background-color: #000;
    color: #000;
    margin-top: 8px;
    margin-bottom: 14px;

}
.sidebar li.active
{
    background: #fff;
    border-radius: 8px;
}
.sidebar li.active a , .sidebar li.active a:hover
{
    color: #000;
}
/* .sidebar li:hover
{
    background: #fff;
    border-radius: 8px;
    opacity: 0.1;

}
.sidebar li:hover a
{
    color: #fff;
} */

.sidebar li a
{
    color: #fff;
}
.message-notif
{
    font-size: 12px;
}


.row-card
{
    width: 16rem;
    display: flex;
    border-radius: 10px;
}
.col-1
{
    width: 65%;
    margin: auto;
}
.col-2
{
   margin: auto;
   width: 35%;
}
.icon
{
    size: 100px;
}


/* Dashboard Table */
.table
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}


/* ADD Car */
.add-row
{
    gap: 40px;
    display: flex;
}

.add-col
{
    width: 50%;
}
input.purok
{
    width: 50px;
    
}



/* ACCOUNT LINK */
.account-link , .account-dropdowns
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

}


/* NOTIFICATION */
.notif-col-1
{
    width: 70%;

}
.notif-col-2
{
    width: 30%;
    
}
/* DASHBOARD LOGIN */
.dashboard-login-div
{
    font-family: 'Poppins', sans-serif;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
.dashboard-login
{
    height: 100vh;
    background: linear-gradient(to right,#ff512f, #dd2476);
}
.dashboard-login-button
{
    background: linear-gradient(to right, #dd2476,#ff512f);
    border: none;

}
.dashboard-login h2
{
    /* box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.25); */
    font-weight: 600;
    font-size: 25px;    
}
.dashboard-div
{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#ff512f, #dd2476);
    height: 100vh;

}
.form-box
{
    height: 490px;
    width: 400px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.forms
{
    display: flex;
}


/* DASHBOARD CONTENT */

/* .dashboard-content
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

.row-card
{
    margin-left: -8px;
}

.db-bottom-row
{
    display: flex;
    gap: 20px;
}

.db-bottom-col1
{
    width: 55%;
    
}

.db-bottom-col2
{
    /* height: 300px; */
    height: 45.8vh;
    overflow-y:scroll;
    width: 45%;
    border-radius: 10px;
    /* box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.25); */

}

.db-chart
{
    box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.25);

}
.for-border
{
    box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.25);
    

}

/* ALLVEHICLES TABLE */
.allvehicles-table
{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.25);

}
.actions
{
    gap: 20px;
}
.actions button
{
    font-size: 13px;
    width: 70px;
    margin-right: 10px;
}

.all-vehicles-section table , .all-vehicles-section thead
{
    font-size: 14px;
}



/* SETTINGS */
.settings-title
{
    border-bottom: 1px solid rgb(159, 155, 155);

}

.settings p , .settings label , .settings input
{
    font-size: 14px;
}
.settings-row
{
    display: flex;
    width: 100%;
    gap: 20px;
}
.settings-col-1
{
    flex-basis: 30%;
}
.settings-col-2
{
    flex-basis: 70%;
}

.settings-image , .settings-password , .settings-edit-profile
{
    box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.25);

}

.settings input
{
    height: 30px;
}

.settings-image button , .settings-password button , .settings-edit-profile button
{
    font-size: 13px;
    height: 30px;

}

.settings img
{
    border: 0.5px solid #000;
}