@media only screen and (max-width:800px)

/* LOGIN */
{
.col-1
{
    display: none;
}
.col-2
{
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

/* SIGNIN */
.signin-col-1
{
    display: none;
}
.signin-col-2
{
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}
/* DASHBOARD BOTTOM */
.db-bottom-row
{
	flex-direction: column;
    width: 100%;

}
.db-bottom-col1 , .db-bottom-col2
{
    width: 100%;
}

}